{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top rounded-pill"
     style="
        top:15px;
        left:20px;
        right:20px;
        background:rgba(17,24,39,.88);
        backdrop-filter:blur(15px);
        box-shadow:0 10px 30px rgba(0,0,0,.25);
     ">
    <div class="container-fluid px-3">

        <a class="navbar-brand fw-bold d-flex align-items-center" href="{% url 'inicio' %}">
            <img src="{% static 'img/imagen.png' %}"
                 height="55"
                 class="me-2">

            <div>
                <div class="text-warning fw-bold">
                    Cooperativa
                </div>
                <small class="text-white">
                    Pirotécnica
                </small>
            </div>
        </a>

        <!-- Botón hamburguesa -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#menuNav"
            aria-controls="menuNav"
            aria-expanded="false"
            aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- Menú -->
        <div class="collapse navbar-collapse" id="menuNav">

            <ul class="navbar-nav ms-auto text-center gap-lg-3 mt-2 mt-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicio' %}">🏠 Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todas_categorias' %}">
                        📂 Categorías
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todos_productos' %}">
                        🏭 Productos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'solicitudes' %}">
                        📋 Solicitudes
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mis_cotizaciones' %}">
                        📋 Cotizaciones
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'favoritos' %}">
                        ❤️ Favoritos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'perfil' %}">
                        👤 Perfil
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-danger" href="{% url 'login' %}">
                        🚪 Cerrar sesión
                    </a>
                </li>

            </ul>

        </div>

    </div>
</nav>